.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode
/bin/

# MacOS
.DS_Store

*.hprof

# Jekyll
_site/
site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

#Ruby
*.gem
*.rbc
*.sassc
.bundle
.config
.yardoc
.rvmrc
.rspec
.sass-cache
.DS_Store
Gemfile.lock
InstalledFiles
_yardoc
doc/
coverage
lib/bundler/man
capybara-*.html
pkg
rdoc
spec/reports
spec/tmp
test/tmp
test/version_tmp
tmp