<script type="text/javascript" src="https://unpkg.com/mermaid@8.5.0/dist/mermaid.min.js" ></script>
<script>mermaid.initialize({startOnLoad:true});</script>

<script>

$(document).ready(function() {
    mermaid.initialize({
        theme: 'forest'
    });
});
function mermaid(id, text){
  var code = decodeHtml(text.replace(/<br\s*[\/]?>/gi, "\n").trim());
  console.log(code);
  var newDiv = document.createElement("div");
  newDiv.setAttribute('class', 'mermaid');
  var newContent = document.createTextNode(code);
  newDiv.appendChild(newContent);
  var currentDiv = document.getElementById(id); 
  currentDiv.appendChild(newDiv); 
}

function decodeHtml(html) {
    var txt = document.createElement("textarea");
    txt.innerHTML = html;
    return txt.value.replace(/→/gi, '->');
}

</script>


